

#contact-area {
	width: 100%;
	max-width: 600px;
	margin-top: 50px;
	margin: auto;
	color: black;
	font-family: 'Ubuntu', sans-serif;
	font-size: 12pt;
}

#contact-area input, #contact-area textarea {
	padding: 5px;
	width: 520px;
	font-family: 'Ubuntu', sans-serif;
	font-size: 12pt;
	margin-left: 15px;
	border: 2px solid #ccc;
}

#contact-area textarea {
	height: 90px;
}

#contact-area textarea:focus, #contact-area input:focus {
	border: 2px solid #900;
}

#contact-area input.submit-button {
	width: 100px;
	float: right;
}

td.left {
	width: 80px;
	text-align: left;
	font-size: 12pt;
	vertical-align: middle;
]

#catpcha-area {
	margin-left: 200px;
}

#google {
	text-align: right;
}