#nav {
	position: fixed;
	z-index: 2;
}

#page1 {
	background: #fff;
	background-position: bottom;
	height: 1200px;
	width: 100%;
	float: left;
	display: block;
	position: relative;
}

.center {
	position: fixed;
	top: 0;
	margin: 20px auto 0 auto;
	width: 100%

}

#sun {
	float: none;
	text-align: center;
	display: block;
	overflow: visible;
	margin: auto;
	position: absolute;
	top: -9999px;
    bottom: -9999px;
    left: -9999px;
    right: -9999px;
	-webkit-animation-name: spinnerRotate;
    -webkit-animation-duration: 150s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: spinnerRotate;
    -moz-animation-duration: 150s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: spinnerRotate;
    -ms-animation-duration: 150s;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
}
@-webkit-keyframes spinnerRotate
{
    from{-webkit-transform:rotate(0deg);}
    to{-webkit-transform:rotate(360deg);}
}
@-moz-keyframes spinnerRotate
{
    from{-moz-transform:rotate(0deg);}
    to{-moz-transform:rotate(360deg);}
}
@-ms-keyframes spinnerRotate
{
    from{-ms-transform:rotate(0deg);}
    to{-ms-transform:rotate(360deg);}
}

#planet {
	margin: -50% auto 0px auto;
	float: none;
	display: block;
	width: 100%;
	max-width: 1203px;
	right: -25%;
	left: -25%;
	position: absolute;
	-webkit-animation-name: spinnerRotate;
    -webkit-animation-duration: 100s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: spinnerRotate;
    -moz-animation-duration: 100s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: spinnerRotate;
    -ms-animation-duration: 100s;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
}
@-webkit-keyframes spinnerRotate
{
    from{-webkit-transform:rotate(0deg);}
    to{-webkit-transform:rotate(360deg);}
}
@-moz-keyframes spinnerRotate
{
    from{-moz-transform:rotate(0deg);}
    to{-moz-transform:rotate(360deg);}
}
@-ms-keyframes spinnerRotate
{
    from{-ms-transform:rotate(0deg);}
    to{-ms-transform:rotate(360deg);}
}


#moon {
	float: none;
	text-align: center;
	display: block;
	overflow: visible;
	margin: auto;
	position: absolute;
	top: -9999px;
    bottom: -9999px;
    left: -9999px;
    right: -9999px;
	-webkit-animation-name: spinnerRotate;
    -webkit-animation-duration: 120s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: spinnerRotate;
    -moz-animation-duration: 120s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: spinnerRotate;
    -ms-animation-duration: 120s;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
}
@-webkit-keyframes spinnerRotate
{
    from{-webkit-transform:rotate(0deg);}
    to{-webkit-transform:rotate(360deg);}
}
@-moz-keyframes spinnerRotate
{
    from{-moz-transform:rotate(0deg);}
    to{-moz-transform:rotate(360deg);}
}
@-ms-keyframes spinnerRotate
{
    from{-ms-transform:rotate(0deg);}
    to{-ms-transform:rotate(360deg);}
}

.clouds {
	background-image: url(imgs/cloud3.png); 
	background-repeat: repeat-x;
	background-color: ;
	width: 100%;
	height: 600px;
	display: block;
	float: left;
	margin: 0;
	bottom: 0;
	position: absolute;
	animation: animatedBackground 110s linear infinite;
	-moz-animation: animatedBackground 110s linear infinite;
	-webkit-animation: animatedBackground 110s linear infinite;
	-ms-animation: animatedBackground 110s linear infinite;
	-o-animation: animatedBackground 110s linear infinite;
}

@keyframes animatedBackground {
	0% { background-position: 0 0; }
	100% { background-position: -2000px 0; }
}
@-moz-keyframes animatedBackground {
	0% { background-position: 0 0; }
	100% { background-position: -2000px 0; }
}
@-webkit-keyframes animatedBackground {
	0% { background-position: 0 0; }
	100% { background-position: -2000px 0; }
}
@-ms-keyframes animatedBackground {
	0% { background-position: 0 0; }
	100% { background-position: -2000px 0; }
}
@-o-keyframes animatedBackground {
	0% { background-position: 0 0; }
	100% { background-position: -2000px 0; }
}

.clouds1 {
	background-image: url(imgs/cloud1.png); 
	background-position: bottom;
	background-repeat: repeat-x;
	width: 100%;
	height: 467px;
	bottom: 0;
	margin-top: 0px;
	position: absolute;
	animation: animatedBackground2 60s linear infinite;
	-moz-animation: animatedBackground2 60s linear infinite;
	-webkit-animation: animatedBackground2 60s linear infinite;
	-ms-animation: animatedBackground2 60s linear infinite;
	-o-animation: animatedBackground2 60s linear infinite;
}

.clouds2 {
	background-image: url(imgs/cloud2.png); 
	background-position: bottom;
	background-repeat: repeat-x;
	width: 100%;
	height: 500px;
	bottom: 0;
	margin-top: 0px;
	position: absolute;
	animation: animatedBackground2 65s linear infinite;
	-moz-animation: animatedBackground2 65s linear infinite;
	-webkit-animation: animatedBackground2 65s linear infinite;
	-ms-animation: animatedBackground2 65s linear infinite;
	-o-animation: animatedBackground2 65s linear infinite;
}

@keyframes animatedBackground2 {
	0% { background-position: 0 0; }
	100% { background-position: -1500px 0; }
}
@-moz-keyframes animatedBackground2 {
	0% { background-position: 0 0; }
	100% { background-position: -1500px 0; }
}
@-webkit-keyframes animatedBackground2 {
	0% { background-position: 0 0; }
	100% { background-position: -1500px 0; }
}
@-ms-keyframes animatedBackground2 {
	0% { background-position: 0 0; }
	100% { background-position: -1500px 0; }
}
@-o-keyframes animatedBackground2 {
	0% { background-position: 0 0; }
	100% { background-position: -1500px 0; }
}












#page2 {
	background: white;
	height: 2000px;
	float: left;
	width: 100%;
	z-index: 2;
	position: relative;
}

#thumbnailwrap {
	margin: auto;
	text-align: center;
	display: inline-block;
}

 h1 {
	color: black;
	font-family: 'Ubuntu', sans-serif;
	font-size: 36pt;
	text-align: center;
	margin: 10px;
}



.leaves {
	background-image: url(imgs/leaves3.png); 
	background-repeat: repeat-x;
	background-position: bottom;
	background-color: ;
	width: 100%;
	height: 409px;
	display: block;
	float: left;
	margin: 0;
	bottom: 0;
	position: absolute;

}



.leaves1 {
	background-image: url(imgs/leaves1.png); 
	background-position: bottom;
	background-repeat: repeat-x;
	width: 100%;
	height: 228px;
	bottom: 0;
	margin-top: 395px;
	position: absolute;

}

.leaves2 {
	background-image: url(imgs/leaves2.png); 
	background-position: bottom;
	background-repeat: repeat-x;
	width: 100%;
	height: 299px;
	bottom: 0;
	margin-top: 110px;

}


#page3 {
	background: #49785d;
	height: 2000px;
	float: left;
	width: 100%;
	z-index: 2;
	position: relative;
}

p {
	font-family: 'Lato', sans-serif;
	font-size: 14pt;
	line-height: 16pt;
}

#page4 {
	background: white;
	height: 2000px;
	float: left;
	width: 100%;
	z-index: 2;
	position: relative;
}