#page1 {
	background: #fff;
	background-position: bottom;
	height: 1200px;
	width: 100%;
	float: left;
	display: block;
	position: relative;
	z-index: 1;
}

.center {
	position: fixed;
	top: 0;
	margin: 20px auto 0 auto;
	width: 100%

}

#sun {
	float: none;
	text-align: center;
	display: block;
	overflow: visible;
	margin: auto;
	position: absolute;
	z-index: 1;
	top: -9700px;
    bottom: -9999px;
    left: -9999px;
    right: -9999px;
}

#moon {
	float: none;
	text-align: center;
	display: block;
	overflow: visible;
	margin: auto;
	position: absolute;
	top: -9700px;
    bottom: -9999px;
    left: -9999px;
    right: -9999px;
	-webkit-animation-name: spinnerRotate;
    -webkit-animation-duration: 120s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: spinnerRotate;
    -moz-animation-duration: 120s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: spinnerRotate;
    -ms-animation-duration: 120s;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
}
@-webkit-keyframes spinnerRotate
{
    from{-webkit-transform:rotate(0deg);}
    to{-webkit-transform:rotate(360deg);}
}
@-moz-keyframes spinnerRotate
{
    from{-moz-transform:rotate(0deg);}
    to{-moz-transform:rotate(360deg);}
}
@-ms-keyframes spinnerRotate
{
    from{-ms-transform:rotate(0deg);}
    to{-ms-transform:rotate(360deg);}
}

.clouds {
	background-image: url(imgs/cloud3.png); 
	background-repeat: repeat-x;
	background-color: ;
	width: 100%;
	height: 600px;
	display: block;
	float: left;
	margin: 0;
	bottom: 0;
	position: absolute;
	animation: animatedBackground 110s linear infinite;
	-moz-animation: animatedBackground 110s linear infinite;
	-webkit-animation: animatedBackground 110s linear infinite;
	-ms-animation: animatedBackground 110s linear infinite;
	-o-animation: animatedBackground 110s linear infinite;
}

@keyframes animatedBackground {
	0% { background-position: 0 0; }
	100% { background-position: -2000px 0; }
}
@-moz-keyframes animatedBackground {
	0% { background-position: 0 0; }
	100% { background-position: -2000px 0; }
}
@-webkit-keyframes animatedBackground {
	0% { background-position: 0 0; }
	100% { background-position: -2000px 0; }
}
@-ms-keyframes animatedBackground {
	0% { background-position: 0 0; }
	100% { background-position: -2000px 0; }
}
@-o-keyframes animatedBackground {
	0% { background-position: 0 0; }
	100% { background-position: -2000px 0; }
}

.clouds1 {
	background-image: url(imgs/cloud1.png); 
	background-position: bottom;
	background-repeat: repeat-x;
	width: 100%;
	height: 467px;
	bottom: 0;
	margin-top: 0px;
	position: absolute;
	animation: animatedBackground2 60s linear infinite;
	-moz-animation: animatedBackground2 60s linear infinite;
	-webkit-animation: animatedBackground2 60s linear infinite;
	-ms-animation: animatedBackground2 60s linear infinite;
	-o-animation: animatedBackground2 60s linear infinite;
}

.clouds2 {
	background-image: url(imgs/cloud2.png); 
	background-position: bottom;
	background-repeat: repeat-x;
	width: 100%;
	height: 500px;
	bottom: 0;
	margin-top: 0px;
	position: absolute;
	animation: animatedBackground2 65s linear infinite;
	-moz-animation: animatedBackground2 65s linear infinite;
	-webkit-animation: animatedBackground2 65s linear infinite;
	-ms-animation: animatedBackground2 65s linear infinite;
	-o-animation: animatedBackground2 65s linear infinite;
}

@keyframes animatedBackground2 {
	0% { background-position: 0 0; }
	100% { background-position: -1500px 0; }
}
@-moz-keyframes animatedBackground2 {
	0% { background-position: 0 0; }
	100% { background-position: -1500px 0; }
}
@-webkit-keyframes animatedBackground2 {
	0% { background-position: 0 0; }
	100% { background-position: -1500px 0; }
}
@-ms-keyframes animatedBackground2 {
	0% { background-position: 0 0; }
	100% { background-position: -1500px 0; }
}
@-o-keyframes animatedBackground2 {
	0% { background-position: 0 0; }
	100% { background-position: -1500px 0; }
}












#page2 {
	background: white;
	height: 2000px;
	float: left;
	width: 100%;
	z-index: 2;
	position: relative;
}

#thumbnailwrap {
	margin: auto;
	text-align: center;
	display: inline-block;
}

 h1 {
	color: black;
	font-family: 'Ubuntu', sans-serif;
	font-size: 36pt;
	text-align: center;
	margin: 50px auto 10px auto;
}



.leaves {
	background-image: url(imgs/leaves3.png); 
	background-repeat: repeat-x;
	background-position: bottom;
	background-color: ;
	width: 100%;
	height: 409px;
	display: block;
	float: left;
	margin: 0;
	bottom: 0;
	position: absolute;

}



.leaves1 {
	background-image: url(imgs/leaves1.png); 
	background-position: bottom;
	background-repeat: repeat-x;
	width: 100%;
	height: 228px;
	bottom: 0;
	margin-top: 395px;
	position: absolute;

}

.leaves2 {
	background-image: url(imgs/leaves2.png); 
	background-position: bottom;
	background-repeat: repeat-x;
	width: 100%;
	height: 299px;
	bottom: 0;
	margin-top: 110px;

}


#page3 {
	background: #49785d;
	height: 2000px;
	float: left;
	width: 100%;
	z-index: 2;
	position: relative;
}

p {
	font-family: 'Lato', sans-serif;
	font-size: 14pt;
	line-height: 16pt;
}

#page4 {
	background: white;
	height: 2000px;
	float: left;
	width: 100%;
	z-index: 2;
	position: relative;
}



/* Remove margins and padding from the list, and add a black background color */
ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    display: inline-block;
    z-index: 500;
    width: 100%;
    text-align: center;
}

/* Float the list items side by side */
ul.topnav li {display: inline-block;}

/* Style the links inside the list items */
ul.topnav li a {
    display: inline-block;
    color: #f2f2f2;
    font-family: 'Ubuntu', sans-serif;
	font-size: 18pt; 
    text-align: left;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of links on hover */
ul.topnav li a:hover {background-color: #555;}

ul.topnav li a:active {background-color: #555;}

/* Hide the list item that contains the link that should open and close the topnav on small screens */
ul.topnav li.icon {display: none;}




/* When the screen is less than 680 pixels wide, hide all list items, except for the first one ("Home"). Show the list item that contains the link to open and close the topnav (li.icon) */
@media screen and (max-width:680px) {
  ul.topnav li:not(:first-child) {display: none;}
  ul.topnav li.icon {
    float: right;
    display: inline-block;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens */
@media screen and (max-width:680px) {
  ul.topnav.responsive {}
  ul.topnav.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  ul.topnav.responsive li {
    float: none;
    display: inline;
  }
  ul.topnav.responsive li a {
    display: block;
    text-align: left;
  }
}
